.layout {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 20rem auto;
  grid-template-areas: "side main";
  height: 100%;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  margin: var(--space-4);
}

.main-top-bar {
  display: flex;
  justify-content: space-between;
}

.my-cards-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  grid-area: side;
  background-color: var(--color-bg-1);
  padding: var(--space-4);
  margin: var(--space-4);
  margin-inline-end: 0;
  border-radius: var(--space-4);
  min-height: 10rem;
  box-shadow: 0 2px 16px #0002;
}

.my-cards-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  overflow-y: auto;
  flex: 1;
}

.my-cards-title {
  position: sticky;
  top: 0;
}

.space-name {
  flex: 1;
  font-size: var(--font-size-largest);
  font-weight: bold;
  text-align: center;
  line-height: 1;
  height: 1em;
}

.deck {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.network-controls {
  grid-area: network;
  display: flex;
  gap: var(--space-2);
  align-items: center;
  justify-self: flex-end
}

.card-controls {
  justify-self: center;
  align-self: center;
  display: flex;
  gap: var(--space-3);
  align-items: flex-end;

  & button {
    border-radius: 100vmax;
  }
}

.add-new-button {
  width: 4rem;
  height: 4rem;
  font-size: var(--font-size-largest);
  border-radius: 100vmax;
  font-family: monospace;
}

.user-id {
  display: flex;
  align-items: center;
  gap: var(--space-3);
}

.central-message {
  text-align: center;
}

.project-version {
  grid-area: main;
  place-self: flex-end;
  color: gray;
}

@media (max-width: 900px) {
  .space-name {
    text-align: start;
  }
}

@media (max-width: 764px) {
  .layout {
    grid-template-rows: 70vh max-content;
    grid-template-columns: 1fr;
    grid-template-areas:
      "main"
      "side";
    height: auto;
  }

  .my-cards-container {
    margin: 0;
    border-radius: 0;
  }

  .my-cards-list {
    flex: unset;
    overflow-y: unset;
  }
}