.card,
.create-card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  padding: var(--space-4);
  border-radius: var(--space-4);
  background-color: var(--color-bg-1);
  min-width: 20rem;
  box-shadow: var(--shadow-1);

  & .response {
    display: grid;
    grid-template-columns: 1fr 1fr;

    & button {
      display: block;
    }
  }
}

.title {
  font-size: var(--font-size-large);
}

.title-input {
  font-weight: bold;
}

.mycard {
  padding: var(--space-4);
  border-radius: var(--space-4);
  background-color: var(--color-bg-1);
  border: 1px solid gray;
}

.deck {
  flex: 1;
  display: grid;
  grid-template-areas: "center";
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &>* {
    grid-area: center;
    transform: translateY(calc(-1 * var(--index) * var(--space-2))) scale(calc(1 - var(--index)*0.01));
    transform-origin: center;
  }

  &>.card {
    z-index: calc(-1 * var(--index));
  }

  &>.create-card {
    z-index: 1;
  }
}

.central-message {
  color: var(--color-fg-2);
  text-align: center;
}

@keyframes fly-in {
  from {
    opacity: 0;
    transform: translateY(0.5rem);
  }
}

.create-card {
  animation: fly-in 400ms;
}

@keyframes fly-out {
  to {
    opacity: 0;
    transform: translateY(0.5rem);
  }
}

.create-card.exiting {
  animation: fly-out 400ms;
}
